*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  text-decoration: none;
  font: inherit;
}

html {
  font-size: 62.5%; /* 1 rem = 10px; 10px/16px = 62.5% */
  overflow: auto;
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 620px) {
  html {
    font-size: 40%;
  }
}
@media screen and (max-width: 599px) {
  html {
    font-size: 30%;
  }
}

body {
  background-color: #171a19;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

h1 {
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-size: 7rem;
  font-weight: 100;
  line-height: 7rem;
  color: #fbfbfb;
}

p, p span {
  font-family: "Montserrat", sans-serif;
  color: #ddd;
  font-size: 2.6rem;
  font-weight: 400;
}

small {
  font-size: 2.4rem;
  color: #666;
  font-family: "IBM Plex Mono", monospace;
  margin: 5vh 0;
}

mark {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

mark::before {
  content: "";
  width: 100%;
  z-index: -1;
  display: block;
  position: absolute;
  height: 4px;
  top: 90%;
  left: 0;
  bottom: 0;
}

h2 {
  font-size: 10.6rem;
  line-height: 12.6rem;
  font-weight: 800;
  margin-bottom: 12rem;
}

h2 a:visited,
h2 a {
  text-decoration: underline;
  color: #fbfbfb;
  padding: 2rem;
  transition: 0.3s all ease;
}

h2 a:visited:hover,
h2 a:hover {
  background-color: #fbfbfb;
  color: #fbfbfb;
}

h3 {
  font-size: 5rem;
  font-family: "Montserrat", sans-serif;
  color: #fbfbfb;
}

h4 {
  font-size: 3.6rem;
  font-family: "IBM Plex Mono", monospace;
  color: #fbfbfb;
}

.projects {
  color: #fbfbfb;
}

span.emoji {
  filter: drop-shadow(0 0 5px);
}

@keyframes go-top {
  0%, 40% {
    top: 0;
  }
  99%, 100% {
    top: -100vh;
  }
  100% {
    display: none;
  }
}
@keyframes go-bottom {
  0%, 40% {
    bottom: 0;
  }
  99%, 100% {
    bottom: -100vh;
  }
  100% {
    display: none;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes jump-in {
  0%, 20% {
    opacity: 0;
    transform: scale(0);
  }
  20%, 100% {
    opacity: 1;
    transform: scale(1);
  }
}
.red {
  color: #d9594c;
}
.red::before {
  background-color: #d9594c;
}
.red mark {
  color: #d9594c;
  filter: drop-shadow(0 0 50px #d9594c);
  background-color: rgba(217, 89, 76, 0.14);
}

.purple {
  color: #9a4cd9;
}
.purple::before {
  background-color: #9a4cd9;
}
.purple mark {
  color: #9a4cd9;
  filter: drop-shadow(0 0 50px #9a4cd9);
  background-color: rgba(154, 76, 217, 0.14);
}

.green {
  color: #419d78;
}
.green::before {
  background-color: #419d78;
}
.green mark {
  color: #419d78;
  filter: drop-shadow(0 0 50px #419d78);
  background-color: rgba(65, 157, 120, 0.14);
}

.blue {
  color: #53a2be;
}
.blue::before {
  background-color: #53a2be;
}
.blue mark {
  color: #53a2be;
  filter: drop-shadow(0 0 50px #53a2be);
  background-color: rgba(83, 162, 190, 0.14);
}

.yellow {
  color: #babe53;
}
.yellow::before {
  background-color: #babe53;
}
.yellow mark {
  color: #babe53;
  filter: drop-shadow(0 0 50px #babe53);
  background-color: rgba(186, 190, 83, 0.14);
}

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.wrapper .container {
  position: relative;
  width: 90vw;
  max-width: 1000px;
  height: 90%;
  margin: 0 auto;
}

main {
  width: 100%;
  display: block;
  height: 80%;
  padding: 100px 0;
}

header[role=banner] {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 15%;
}
header[role=banner] nav {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 50%;
}
@media screen and (max-width: 599px) {
  header[role=banner] nav {
    width: 100%;
  }
}
header[role=banner] nav a:not(:last-of-type) {
  font-size: 4rem;
  font-family: "IBM Plex Mono", monospace;
  color: hsl(0deg, 0%, 65%);
  filter: grayscale(1) drop-shadow(0 0 1px #e8e0e0);
  text-align: center;
  transition: 0.2s ease-in-out;
}
header[role=banner] nav a:not(:last-of-type):focus {
  outline: none;
}
header[role=banner] nav a:not(:last-of-type):hover {
  color: #fbfbfb;
  filter: grayscale(1) drop-shadow(0 0 10px #e8e0e0);
}
header[role=banner] nav a:not(:last-of-type) > i {
  display: block;
}
header[role=banner] nav a:last-of-type,
header[role=banner] nav a.btn {
  font-size: 3rem;
  font-family: "IBM Plex Mono", monospace;
  color: #fbfbfb;
  background-color: #419d78;
  padding: 1rem 3rem;
  transition: 0.2s all ease-in-out;
}
header[role=banner] nav a:last-of-type:hover,
header[role=banner] nav a.btn:hover {
  cursor: pointer;
  transform: translate(0.8rem, -0.8rem);
  box-shadow: -0.8rem 0.8rem 0 0 rgba(65, 157, 120, 0.1411764706);
}

footer {
  text-align: center;
  margin-top: 2rem;
}
footer aside, footer address {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  color: #fbfbfb;
}
footer address {
  margin-top: 1rem;
}

section[role=navigation] {
  display: grid;
  grid-auto-flow: column;
  place-self: center;
  margin-top: 7.5rem;
}
@media screen and (max-width: 620px) {
  section[role=navigation] {
    grid-auto-flow: row;
  }
  section[role=navigation] > section > ul {
    margin-top: 20px;
  }
  section[role=navigation] > section > ul > .hidden:first-of-type {
    visibility: visible;
    opacity: 1;
  }
}
section[role=navigation] > section {
  text-align: center;
}
section[role=navigation] > section > a, section[role=navigation] > section > ul {
  font-family: "Montserrat", sans-serif;
  font-size: 6rem;
  font-weight: 700;
  position: relative;
  display: inline-block;
}
section[role=navigation] > section > a::before {
  content: "";
  z-index: 0;
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 0px;
  height: 4px;
  transition: width 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}
section[role=navigation] > section > a:hover::before {
  width: 100%;
}
section[role=navigation] > section > ul::before {
  content: "";
  z-index: 0;
  display: block;
  position: absolute;
  left: -20px;
  top: 0;
  width: 4px;
  height: 0;
  transition: height 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}
section[role=navigation] > section > ul:hover::before {
  height: 100%;
}
section[role=navigation] > section > ul > .hidden {
  visibility: hidden;
  opacity: 0;
}
section[role=navigation] > section > ul > .hidden > li {
  font-size: 3.6rem;
  text-align: left;
  list-style: none;
}
section[role=navigation] > section > ul > .hidden > li > a {
  color: #419d78;
  padding-left: 0;
  transition: 0.2s;
}
section[role=navigation] > section > ul > .hidden > li > a:hover {
  padding-left: 10px;
  transition: 0.2s;
}
section[role=navigation] > section > ul > .hidden > li.linkedin span:first-of-type {
  color: #fbfbfb;
  background-color: rgba(65, 157, 120, 0.1411764706);
  padding: 0 5px;
  border-radius: 15%;
  margin-left: 3px;
}
section[role=navigation] > section > ul:hover .hidden {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
}

.projects > ul {
  height: 60vh;
  overflow-y: scroll;
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
  padding-left: 20px;
}

@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(154, 76, 217, 0.1411764706);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9a4cd9;
}

.projects > ul > li {
  list-style: none;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 3.5vh;
  border-bottom: 0.5rem solid;
  border-radius: 30px 30px 0 0;
  padding: 3rem 5rem;
}

.projects > ul > li:first-of-type {
  border-bottom-color: #ddd;
}

.projects > ul > li:nth-child(2) {
  border-bottom-color: #3572A5;
}

.projects > ul > li:nth-child(3) {
  border-bottom-color: #f1e05a;
}

.projects > ul > li:nth-child(4) {
  border-bottom-color: #ddd;
}

.projects > ul > li:nth-child(5) {
  border-image: linear-gradient(to right, #e34c26 77%, #563d7c 22%) 15;
}

.projects > ul > li:nth-child(6) {
  border-image: linear-gradient(to right, #f1e05a 74%, #563d7c 74%, #563d7c 91%, #e34c26 9%) 4;
}

.projects > ul > li:nth-child(7) {
  border-image: linear-gradient(to right, #e34c26 65.1%, #563d7c 65.1%, #563d7c 98.1%, #f1e05a 1.8%) 4;
}

.projects > ul > li:nth-child(8) {
  border-bottom-color: #f1e05a;
}

.projects > ul > li:nth-child(9) {
  border-bottom-color: #178600;
}

.projects > ul > li > * {
  margin-bottom: 1rem;
}

.projects > ul li a {
  font-size: 4rem;
  color: #fbfbfb;
}

.projects > ul li a i {
  transition: 0.2s;
  margin: 0.5rem 0;
  padding-bottom: 3px;
}

.projects > ul li a:hover i {
  box-shadow: 0 2px 0px 0px #fbfbfb;
  transition: 0.2s;
}

.projects > ul li details {
  font-size: 2.6rem;
  font-family: "Montserrat", sans-serif;
  color: #fbfbfb;
}

.projects > ul > li > details > summary:hover {
  cursor: pointer;
}

.fa-youtube {
  color: #d9594c;
}

.projects > ul li a:hover .fa-youtube {
  box-shadow: 0 2px 0px 0px #d9594c;
  transition: 0.2s;
}/*# sourceMappingURL=style.css.map */