footer {
    text-align: center;
    margin-top: 2rem;

    aside {
        font-family: 'Roboto Slab',serif;
        font-size: 2rem;
        color: $heading;
    }
    
    address {
        @extend aside;
        margin-top: 1rem;
    }
}