footer {
    text-align: center;
    
    aside {
        font-family: 'Roboto Slab',serif;
        font-size: 2rem;
        color: $heading;
        margin-top: 20px;
    }
    
    address {
        @extend aside;
        margin-top: 0;
    }
}