.wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
    .container {
        position: relative;
        width: 90vw;
        max-width: 1000px;
        height: 90%;
        margin: 0 auto;
        animation: jump-in 5s;
    }
}

main {
    width: 100%;
    display: block;
    height: 80%;
    padding: 100px 0;
    transform: skew(1deg, -1deg) scaleY(1);
}

.transition-jump-in {
    animation: jump-in 5s;
}

.transition-jump-out {
    animation: jump-out 5s;
}