header[role='banner'] {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 15%;
    nav {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 50%;

        @include responsive(phone) {
            width: 100%;
        }

        a:not(:last-of-type) {
            font-size: 3rem;
            font-family: 'IBM Plex Mono', monospace;
            color: $heading;

            &::before {
                content: '';
                display: inline-block;
                position: relative;
                border-radius: 100%;
                width: 4px;
                height: 4px;
                margin-right: 5px;
                transition: .2s cubic-bezier(0.19,1,0.22,1);
            }
            &:hover::before {
                width: 8px;
                height: 8px;
                margin-right: 4px; 
                transition: .2s cubic-bezier(0.19,1,0.22,1);
            }
        }

        a:last-of-type,
        a.btn {
            font-size: 3rem;
            font-family: 'IBM Plex Mono', monospace;
            color: $heading;
            background-color: $green;
            padding: 1rem 3rem;
            transition: .2s all ease-in-out;

            &:hover {
                cursor: pointer;
                transform: translate(.8rem, -.8rem);
                box-shadow: -.8rem .8rem 0 0 $green-mark;
            }
        }
    }
}

header nav>a:first-child::before{
    background: $blue;
}

header nav>a:nth-child(2):before{
    background: $purple;
}

header nav>a:nth-child(3):before{
    background: $yellow;
}

header nav>a:nth-child(4):before{
    background: $red;
}

header nav>a:nth-child(5):before{
    background: #0077B5;
}