header {
    display: flex;
    justify-content: flex-end;
    height: 10%;
}

header .dots-container {
    display: inline-flex;
    align-items: center;
    height: 100%;
}

header .dots-container>a {
    width: 5rem; height: 5rem;
    font-size: 3.5rem;
    border-radius: 75%;
    text-align: center;
    background-color: var(--color-blue-mark);
    color: var(--color-blue);
}

/* .dots-container>a:nth-child(1) {
    background-color: var(--color-blue-mark);
    color: var(--color-blue);
}

.dots-container>a:nth-child(2) {
    background-color: var(--color-blue-mark);
    color: var(--color-blue);
}

.dots-container>a:nth-child(3) {
    background-color: var(--color-blue-mark);
    color: var(--color-blue);
}

.dots-container>a:nth-child(4) {
    background-color: var(--color-blue-mark);
    color: var(--color-blue);
}

.dots-container>a:nth-child(5) {
    background-color: var(--color-blue-mark);
    color: var(--color-blue);
}

.dots-container>a:nth-child(6) {
    background-color: var(--color-blue-mark);
    color: var(--color-blue);
} */