*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    text-decoration: none;
    font: inherit;
}

html {
    font-size: 62.5%; /* 1 rem = 10px; 10px/16px = 62.5% */
    overflow: auto;

    @include responsive(desktop) {
        font-size: 56.25%;
    }

    @include responsive(tablet-landscape) {
        font-size: 50%;
    }

    @include responsive(tablet-portrait) {
        font-size: 40%;
    }

    @include responsive(phone) {
        font-size: 30%;
    }
}

body {
    background-color: $background;
}

canvas {
    display: block;
    position: absolute;
    top:0;left:0;bottom:0;right:0;
}

