$colors: (
    'red': $red,
    'purple': $purple,
    'green': $green,
    'blue': $blue,
    'yellow': $yellow
);

//loop
@each $color, $value in $colors {
    .#{$color} {
        color: $value;

        &::before {
            background-color: $value;
        }
        mark {
            color: $value;
            background-color: rgba($value, $mark-opacity);
        }
    }
}