@keyframes go-top {
	0%, 40% {
		top: 0;
	}

	99%, 100% {
		top: -100vh;
	}
	100% {
		display: none;
	}
}

@keyframes go-bottom {
	0%, 40%{
		bottom: 0;
	}

	99%, 100%{
		bottom: -100vh;
	}

	100% {
		display: none;
	}
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes wobbleY {
    0%,100% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(2px);
    }
}
@keyframes jump-in {
    0%, 20% {
        opacity: 0;
        transform: scale(0);
        filter: blur(2rem);
        bottom: 1000px;
    }
    20%, 100% {
        opacity: 1;
        transform: scale(1);
        filter: blur(0);
        bottom: 0;
    }
}

@keyframes jump-out {
    0%, 20% {
        opacity: 1;
        transform: scale(1);
        
        bottom: 0;
    }
    20%, 100% {
        opacity: 0;
        transform: scale(0);
        bottom: 1000px
    }
}

@keyframes sweep {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}