$background: #171a19;

$red: #d9594c; 
$purple: #9a4cd9;
$green: #419d78;
$blue: #53a2be;
$yellow: #babe53;

 /* Typography */
$heading: #fbfbfb;
$text: #ddd;
$small: #666;

/* Styling */
$red-mark: #d9594c24;
$purple-mark: #9a4cd924;
$green-mark: #419d7824;
$blue-mark: #53a2be24;
$dark-background: rgba(0, 0, 0, 0.5); 

$javascript: #f1e05a;
$html: #e34c26;
$css: #563d7c;
$python:#3572A5;
$typescript: #3178c6;
$lua: #000080;
