.btn button,
.btn input {
    background: var(--color-primary);
    font-family: 'IBM Plex Mono', monospace;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    transition: .2s all ease-in-out;
}

.btn button:hover,
.btn input:hover {
    cursor: pointer;
    transform: translate(.4rem, -.4rem);
    box-shadow: -.4rem .4rem 0 0 var(--color-primary-dark);
}

.bg-light .btn button {
    color: var(--color-light);
}

.bg-dark .btn button {
    color: var(--color-dark);
}

.btn-input {
    background: var(--color-primary);
    font-family: 'IBM Plex Mono', monospace;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    width: 100%;
    transition: .2s all ease-in-out;
}

.btn-input:hover {
    cursor: pointer;
    transform: translate(.4rem, -.4rem);
    box-shadow: -.4rem .4rem 0 0 var(--color-primary-dark);
}